    
    
    @media (max-width: 1800px) {   

        .container {    
            max-width: auto;
            padding: 0 30px;
        }   


        .more__description {    
            max-width: 581px;
        }       

        .cards__description {   
            max-width: 400px;
        }   

        .cards__title--next {   
            max-width: 400px;
        }   

        .cards__title { 
            width: 350px;
        }   

        .swiper {   
            max-width: 1400px;
        }

        .slider__title {    
            max-width: 840px;
        }   


        .slider__image {    
            width: 100%;
            height: auto;
        }   
        
        .gallery__img { 
            width: 360px;   
            height: 120px;
        }   

        .gallery__wrap {    
            flex-wrap: nowrap;
        }   


        .news__image {  
            max-width: 420px;   
            max-height: 200px;
        }   

        .wrap-news {    
            max-width: 420px;
        }   

        .gallery__img-hillel {  
            border-top-left-radius: none;
        }   

        .gallery__box { 
            max-height: 100px;
        }

    }   


    @media (max-width: 1440px) {    
        .more__description {    
            max-width: 405px;
        }   

        .cards__description {   
            max-width: 261px;
        }   

        .cards__title { 
            max-width: 250px;
        }   

        .slider__image {    
            display: none;
        }   

        .slider::before {   
            content: url(../images/image-new.svg);
        }   

        .slider__title {    
            max-width: 444px;
        }   

        .swiper {   
            max-width: 904px;
            height: 100% !important;
        }
        
        .gallery__box { 
            max-width: 256px;
        }

        .news__image {  
            display: inline-block;
            max-width: 281px;
            max-height: 200px;
        }   
        .wrap-news {    
            max-width: 281px;
        }

    }