* { 
    box-sizing: border-box;
}   

@import "_fonts.scss"; 

@import "_reset.scss";

@import "_variable.scss";

body {  
    font-family:'Montserrat', sans-serif;
}   




.container {    
    max-width: 1600px;  
    margin-left: auto;
    margin-right: auto;     

    &--image {  
        background-image: url(../images/SYMBOLFULL.svg) ;
        background-repeat: no-repeat, no-repeat;
        background-position: 50% 0%;
        background-size: auto;
    }
}       

.info-header-block {  
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%) ;    
    border-radius: 0px 0px 12px 12px;
    box-shadow: 0 0 0 9px #CACADB, 0 0 0 18px #E7E7F2;


}

.header {   
   
    &__logo {   
        margin-top: 50px;
        width: 130px;
        height: 60px;
    }

    &__wrap {   
        display: flex;
        justify-content: space-between;
        padding-bottom: 370px;  

        &-lang {    
            display: flex;
            flex-direction: row;
        }

        &-second {  
            margin-top: 55px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
    }   

    &__language {   
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px; 
        text-align: center;
        letter-spacing: 1px;
        color: $white-color;
        margin-right: 14px;
    }   

    &__language:hover { 
        background-color:  $accent-color;
        border-radius: 8px;
        padding: 5px 7px;
        
    }

    &__info { 
        display: list-item;
        margin-left: 6px;
        margin-right: 18px;
        font-style: normal;
        font-weight: normal;
         font-size: 16px;
         line-height: 20px;
         color:  $white-color;
    }

    &__info.facebook {  
        
        width: 24px;
        height: 24px;
    }   

    &__info.phone { 
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: $white-color;
    }
}   

.nav { 
    display: flex;  
    flex-direction: row;
    margin-top: 19px;
   
    &__links {   
        text-decoration: none;
        margin-right: 15px;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: $white-color;
    }   

    &__link:first-child {   
        padding-left: 55px;
    }
}   

.text { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    color: $white-color;
    padding-bottom: 423px;
}   

.scroll {  
    display: flex;  
    flex-direction: row;    
    justify-content: center;
    padding-bottom: 30px;  

    &__first:hover {  
       
    }
}    






.more { 
    display: flex;  
    padding-top: 60px;
    justify-content: center;
    flex-direction: row;
    
    

    &__list {   
        width: 100%;
        max-width: 439px;   
        border-right: 4px solid #FFFFFF4D;
        padding-right: 60px;
        display: flex;  
        flex-direction: column; 
        align-items: flex-end; 
        padding: 15px 60px 15px 0; 

        &-item {    
            font-weight: bold;
            font-size: 38px;
            line-height: 46px;
            color: #B3B3BA;
            margin-bottom: 30px;  
            text-align: right;  
            cursor: pointer;
            
            &:last-child {  
                margin-bottom: 0;
            }   

            &:hover {   
                color: $accent-color;
            }   

            &--active { 
                background-image: linear-gradient(to right, #EF8080 0%, #F0145A 100% );
                -webkit-background-clip:text;
                -webkit-text-fill-color: transparent;   

                &:hover {   
                    -webkit-text-fill-color:$accent-color;
                }
            }
        }
    }   

    &__us {
        
        padding: 15px 0 15px 60px; 
        display: flex;  
        flex-direction: column; 
        justify-content: center;
    }   

    &__title {  
        font-weight: bold;
        font-size: 30px;
        line-height: 37px;
        color:$white-color ;
        margin-bottom: 30px;
    }   

    &__description {    
        font-size: 19px;
        line-height: 30px;
        color:$white-color ;
        width: 860px;
    }
}   


.caption { 

    &__title {  
        font-weight: bold;
        font-size: 38px;
        line-height: 46px; 
        padding-bottom: 60px;
        cursor: pointer;

        &--active { 
            background-image: linear-gradient(to right, #F0145A 100%, #EF8080 100% );
             -webkit-background-clip: text;
             -webkit-text-fill-color: transparent;   
        
           &:hover {   
            -webkit-text-fill-color:$accent-color;  
         }
    }   


    }
    
     &__text {  
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        margin-top: 75px;  
        margin-bottom: 10px;
        color: #B3B3BA; 
        cursor: pointer;
        
        &:hover {
            color: $accent-color;
        
        }       

    }
     
}   

.cards {    
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    

    &__image {  
        width: 92px;
        height: 92px;
        margin-bottom: 30px;
    }

    &__title {  
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;  
        color: $blue-color;
        margin-bottom: 15px;    

        &--width {   
            width: 250px;
        }

        &--next {   
            width: 450px;
        } 
           
        
    }   

    &__description {  
        width: 494px;  
        font-size: 16px;
        line-height: 26px;
        color: $white-color;
        
    }   

    &__wrap {   
        padding-bottom: 60px;

       
    }   
}   

.slider {   
    &-margin {  
        margin-top: 70px;
        display: flex;  
        flex-direction: row;
        justify-content: center;
    }   

    &__wrap {   
        display: flex;  
        flex-direction: column;
        background-color:$gray-bg-color ;
        border-radius: 12px;
    }   

    &__image {  
        width: 400px;
        height: 298px;
    }   

    &__link {   
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: $blue-color;
        letter-spacing: 1px;
        text-decoration: none;
        margin: 30px 0 5px 30px;
        text-transform: uppercase
    } 

    &__title {  
        font-style: normal;
        font-weight: bold;
        font-size: 38px;
        line-height: 46px;
        margin-left: 30px;
        margin-bottom: 30px;
        width: 1140px;
    

        &-active {  
            background-image: linear-gradient(to right,#F0145A 100%,  #EF8080 100%, );
                -webkit-background-clip:text;
                -webkit-text-fill-color: transparent;   
        }
    }   

    &__text {   
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: $gray-color;
        margin-left: 30px;
    }   

    &__name {   
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: $gray-color;
        margin-left: 30px;
        margin-top: 6px;

    }
}   

.swiper {
    width: 1600px;
    height: 430px; 
  } 

  

  .swiper-pagination-bullet {   
    width: 16px;
    height: 16px;
    margin-top: 30px;
    background-color: #24A3FF;
    opacity: 0.2;

    &.swiper-pagination-bullet-active { 
        background-color: #24A3FF;;
        opacity: 1;

    }

  } 

  .main {   
      &__title {  
        display: flex; 
        flex-direction: row;  
        justify-content: center;
        margin-top: 60px;
        margin-bottom: 30px; 
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $main-regular-color;
      }
  }




.box {  
    width: 1720px;  
    margin-left: auto;
    margin-right: auto;
}


.gallery {  
    &__wrap {   
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
       
    }  

    &__img {  

        flex-wrap: wrap;
        width: 430px;
        height: 120px;
        
        &-hillel {  
            border-top-left-radius: 12px;
        }   

        &-infra {   
            border-bottom-left-radius: 12px;
        }   

        &-look {    
            border-top-right-radius: 12px;
        }   

        &-ultimate {    
            border-bottom-right-radius: 12px;
        }
    }
}       

